{% extends 'portfolio_app/base_template.html' %}

{% block content %}
    <h1>Student Name: {{ object.name }}</h1>
    <p>Email: {{ object.email }}</p>
    <p>Major: {{ object.major }}</p>

    <h2>Portfolio: {{ object.portfolio.name }}</h2>

    <h3>Associated Projects:</h3>
    <ul>
    {% if projects %}
        {% for project in projects %}
            <li>{{ project.name }}</li>
        {% endfor %}
    {% else %}
        <li>No projects associated with this portfolio.</li>
    {% endif %}
    </ul>
{% endblock %}