{% extends 'portfolio_app/base_template.html' %}

{% block content %}
  <h1>Project Name: {{ object.name }}</h1>
  <h2>Student Name: {{ object.student.name }}</h2>
  <p>Email: {{ object.student.email }}</p>
  <p>Major: {{ object.student.major }}</p>

  <h3>Portfolio:</h3>
  <ul>
    {% if object.student.portfolio %}
      <li>
        <a href="{{ object.student.portfolio.get_absolute_url }}">View Portfolio</a>
      </li>
    {% else %}
      <li>No portfolio available</li>
    {% endif %}
  </ul>

  <!-- Add new project link -->
  {% if object.student.portfolio %}
    <h2>Project List</h2>
    Debugging Text - Before Button
    <a class="btn btn-primary" href="{% url 'create_project' portfolio_id=object.student.portfolio.id %}" role="button">New</a>

    {% if projects %}
    <ul>
    {% for project in projects %}
    <li>
    {{ project.title }}:
    <a class="btn btn-primary" href="{{ project.get_absolute_url }}" role="button">View</a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No projects available.</p>
    {% endif %}
  {% endif %}

{% endblock %}